* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-carousel {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #F8B653;
  text-align: center;
}

.btn-product {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  line-height: 64px;
  text-decoration: none;
  display: inline-block;
  width: 175px;
  height: 64px;
  background-color: #E1B067;
  text-align: center;
}

.input-register, .register .container .row .col-right .input, .register .container .row .col-left .input {
  position: relative;
  width: 482px;
  height: 51px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 576px) {
  .input-register, .register .container .row .col-right .input, .register .container .row .col-left .input {
    height: 40px !important;
  }
}
.input-register::after, .register .container .row .col-right .input::after, .register .container .row .col-left .input::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background-color: #AE18E2;
}
@media (max-width: 768px) {
  .input-register::after, .register .container .row .col-right .input::after, .register .container .row .col-left .input::after {
    height: 2px;
  }
}
@media (max-width: 576px) {
  .input-register::after, .register .container .row .col-right .input::after, .register .container .row .col-left .input::after {
    height: 1px;
  }
}
.input-register input, .register .container .row .col-right .input input, .register .container .row .col-left .input input {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
  width: 100%;
  border: none;
  outline: none;
  z-index: 1;
  position: relative;
  background: transparent;
}
.input-register input::placeholder, .register .container .row .col-right .input input::placeholder, .register .container .row .col-left .input input::placeholder {
  color: #000000;
}
@media (max-width: 576px) {
  .input-register input, .register .container .row .col-right .input input, .register .container .row .col-left .input input {
    font-size: 20px;
  }
}
.input-register span, .register .container .row .col-right .input span, .register .container .row .col-left .input span {
  position: absolute;
  right: 0;
  top: 17.65%;
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24px;
  text-align: end;
}

header {
  background-color: #000000;
}
header .container {
  position: relative;
  width: auto;
  height: 50px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
header .container .logo a img {
  position: absolute;
  width: 116px;
  height: 32px;
  top: 10px;
  right: auto;
  bottom: auto;
  left: 24px;
}
header .container .content .component1 {
  position: absolute;
  width: 66px;
  height: 36px;
  top: 6px;
  right: auto;
  bottom: auto;
  left: 1027px;
  cursor: pointer;
}
header .container .content .component1 img {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 8.33%;
  right: 53.03%;
  bottom: 5.56%;
  left: 0;
}
header .container .content .component1 span {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 46.97%;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  line-height: 36px;
}
header .container .content a {
  font-size: 16px;
  font-weight: 300;
  color: #F7F7F7;
  line-height: 19px;
  text-decoration: none;
  position: absolute;
  width: 91px;
  height: 32px;
  top: 15px;
  right: auto;
  bottom: auto;
  left: auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .container .content .login {
  left: 1103px;
}
header .container .content .register {
  left: 1170px;
}

@media (max-width: 1279px) {
  header .container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .logo a img {
    position: static;
    width: auto;
    height: auto;
  }
  header .container .content {
    display: flex;
    align-items: center;
  }
  header .container .content .component1 {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
  }
  header .container .content .component1 img {
    position: static;
    width: auto;
    height: auto;
  }
  header .container .content .component1 span {
    position: static;
    width: auto;
    height: auto;
  }
  header .container .content a {
    position: static;
    width: auto;
    height: auto;
    margin-left: 20px;
  }
}
@media (max-width: 576px) {
  header .container .content .component1 {
    margin-left: 10px;
  }
  header .container .content .component1 img {
    width: 20px;
  }
  header .container .content .component1 span {
    position: static;
    width: auto;
    height: auto;
    font-size: 16px;
  }
  header .container .content a {
    margin-left: 10px;
    font-size: 13px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-carousel {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #F8B653;
  text-align: center;
}

.btn-product {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  line-height: 64px;
  text-decoration: none;
  display: inline-block;
  width: 175px;
  height: 64px;
  background-color: #E1B067;
  text-align: center;
}

.input-register, .register .container .row .col-right .input, .register .container .row .col-left .input {
  position: relative;
  width: 482px;
  height: 51px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 576px) {
  .input-register, .register .container .row .col-right .input, .register .container .row .col-left .input {
    height: 40px !important;
  }
}
.input-register::after, .register .container .row .col-right .input::after, .register .container .row .col-left .input::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background-color: #AE18E2;
}
@media (max-width: 768px) {
  .input-register::after, .register .container .row .col-right .input::after, .register .container .row .col-left .input::after {
    height: 2px;
  }
}
@media (max-width: 576px) {
  .input-register::after, .register .container .row .col-right .input::after, .register .container .row .col-left .input::after {
    height: 1px;
  }
}
.input-register input, .register .container .row .col-right .input input, .register .container .row .col-left .input input {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
  width: 100%;
  border: none;
  outline: none;
  z-index: 1;
  position: relative;
  background: transparent;
}
.input-register input::placeholder, .register .container .row .col-right .input input::placeholder, .register .container .row .col-left .input input::placeholder {
  color: #000000;
}
@media (max-width: 576px) {
  .input-register input, .register .container .row .col-right .input input, .register .container .row .col-left .input input {
    font-size: 20px;
  }
}
.input-register span, .register .container .row .col-right .input span, .register .container .row .col-left .input span {
  position: absolute;
  right: 0;
  top: 17.65%;
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24px;
  text-align: end;
}

.menu .container {
  position: relative;
  width: auto;
  height: 50px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.menu .container a {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 24px;
  text-decoration: none;
  position: absolute;
  width: auto;
  height: 24px;
  top: 16px;
  right: auto;
  bottom: auto;
  left: auto;
}
.menu .container .home {
  width: 56px;
  left: 25px;
  font-weight: 400;
}
.menu .container .men {
  width: 41px;
  left: 105px;
  opacity: 0.7;
}
.menu .container .woman {
  width: 70px;
  left: 183px;
  opacity: 0.7;
}
.menu .container .kid {
  width: 31px;
  left: 292px;
}
.menu .container .sport {
  width: 52px;
  left: 363px;
}
.menu .container .active {
  position: absolute;
  width: 60px;
  height: 0;
  top: 50px;
  right: auto;
  bottom: auto;
  left: 24px;
  border: 1px solid #000000;
}

@media (max-width: 1279px) {
  .menu .container {
    padding: 0 15px;
    display: flex;
    align-items: center;
  }
  .menu .container a {
    position: static;
    width: auto;
    height: auto;
    margin-right: 30px;
  }
  .menu .container .active {
    left: 15px;
  }
}
@media (max-width: 576px) {
  .menu .container a {
    margin-right: 10px;
    font-size: 13px;
  }
  .menu .container .active {
    width: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-carousel {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #F8B653;
  text-align: center;
}

.btn-product {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  line-height: 64px;
  text-decoration: none;
  display: inline-block;
  width: 175px;
  height: 64px;
  background-color: #E1B067;
  text-align: center;
}

.input-register, .register .container .row .col-right .input, .register .container .row .col-left .input {
  position: relative;
  width: 482px;
  height: 51px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 576px) {
  .input-register, .register .container .row .col-right .input, .register .container .row .col-left .input {
    height: 40px !important;
  }
}
.input-register::after, .register .container .row .col-right .input::after, .register .container .row .col-left .input::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background-color: #AE18E2;
}
@media (max-width: 768px) {
  .input-register::after, .register .container .row .col-right .input::after, .register .container .row .col-left .input::after {
    height: 2px;
  }
}
@media (max-width: 576px) {
  .input-register::after, .register .container .row .col-right .input::after, .register .container .row .col-left .input::after {
    height: 1px;
  }
}
.input-register input, .register .container .row .col-right .input input, .register .container .row .col-left .input input {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
  width: 100%;
  border: none;
  outline: none;
  z-index: 1;
  position: relative;
  background: transparent;
}
.input-register input::placeholder, .register .container .row .col-right .input input::placeholder, .register .container .row .col-left .input input::placeholder {
  color: #000000;
}
@media (max-width: 576px) {
  .input-register input, .register .container .row .col-right .input input, .register .container .row .col-left .input input {
    font-size: 20px;
  }
}
.input-register span, .register .container .row .col-right .input span, .register .container .row .col-left .input span {
  position: absolute;
  right: 0;
  top: 17.65%;
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24px;
  text-align: end;
}

footer .container img {
  width: 100%;
}

.register .container {
  position: relative;
  width: auto;
  height: 538px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.register .container .title {
  padding: 30px 0;
}
.register .container .title h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  line-height: 48px;
  text-align: center;
}
.register .container .row .col-left .input {
  position: absolute;
  width: 482px;
  height: 51px;
  top: auto;
  right: auto;
  bottom: auto;
  left: 120px;
}
.register .container .row .col-left .input1 {
  top: 140px;
}
.register .container .row .col-left .input2 {
  top: 218px;
}
.register .container .row .col-left .input3 {
  top: 296px;
}
.register .container .row .col-right .input {
  position: absolute;
  width: 482px;
  height: 51px;
  top: auto;
  right: auto;
  bottom: auto;
  left: 701px;
}
.register .container .row .col-right .input1 {
  top: 140px;
}
.register .container .row .col-right .input2 {
  top: 218px;
}
.register .container .row .col-right .gender {
  position: absolute;
  width: 482px;
  height: 51px;
  top: 320px;
  right: auto;
  bottom: auto;
  left: 701px;
  display: flex;
  align-items: center;
}
.register .container .row .col-right .gender span {
  position: absolute;
  top: -10px;
  color: #F50E0E;
  font-size: 13px;
}
.register .container .row .col-right .gender label {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
}
.register .container .row .col-right .gender input[type=radio] {
  /* remove standard background appearance */
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 65px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  /* background-color only for content */
  border: 10px solid #D9D9D9;
  background-color: #D9D9D9;
  cursor: pointer;
  margin: 0 10px 0 30px;
}
.register .container .row .col-right .gender input[type=radio]:checked {
  background-color: #AE18E2;
}
.register .container .row .col-right button {
  font-size: 30px;
  font-weight: 400;
  color: #FFFCFC;
  line-height: 36px;
  position: absolute;
  width: 291px;
  height: 50px;
  top: calc(50% - 25px + 204px);
  right: auto;
  bottom: auto;
  left: calc(50% - 145.5px + 206.5px);
  text-align: center;
  background-color: #AE18E2;
  border: none;
  cursor: pointer;
}

@media (max-width: 1279px) and (max-width: 992px) {
  .register .container {
    padding: 0 100px;
    padding-bottom: 50px !important;
    height: auto;
  }
}
@media (max-width: 1279px) and (max-width: 768px) {
  .register .container {
    padding: 0 50px;
  }
}
@media (max-width: 1279px) and (max-width: 576px) {
  .register .container {
    padding: 0 15px;
  }
}
@media (max-width: 1279px) {
  .register .container .row {
    display: flex;
    flex-wrap: wrap;
  }
  .register .container .row .col-left {
    width: 50%;
    padding: 0 30px;
  }
}
@media (max-width: 1279px) and (max-width: 992px) {
  .register .container .row .col-left {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 1279px) {
  .register .container .row .col-left .input {
    position: relative;
    width: auto;
    height: 51px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-top: 30px;
  }
}
@media (max-width: 1279px) {
  .register .container .row .col-right {
    width: 50%;
    padding: 0 30px;
  }
}
@media (max-width: 1279px) and (max-width: 992px) {
  .register .container .row .col-right {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 1279px) {
  .register .container .row .col-right .input {
    position: relative;
    width: auto;
    height: 51px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-top: 30px;
  }
}
@media (max-width: 1279px) {
  .register .container .row .col-right .gender {
    position: relative;
    width: auto;
    height: 51px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 50px 0;
  }
}
@media (max-width: 1279px) and (max-width: 576px) {
  .register .container .row .col-right .gender {
    font-size: 20px;
    margin: 30px 0;
  }
}
@media (max-width: 1279px) and (max-width: 576px) {
  .register .container .row .col-right .gender label {
    font-size: 20px;
  }
}
@media (max-width: 1279px) {
  .register .container .row .col-right .gender input[type=radio] {
    width: 25px;
    height: 25px;
    border-width: 5px;
  }
}
@media (max-width: 1279px) and (max-width: 576px) {
  .register .container .row .col-right .gender input[type=radio] {
    margin: 0 5px 0 10px;
  }
}
@media (max-width: 1279px) {
  .register .container .row .col-right .gender input[type=radio]:checked {
    background-color: #AE18E2;
  }
}
@media (max-width: 1279px) {
  .register .container .row .col-right button {
    position: relative;
    width: 291px;
    height: 50px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}
@media (max-width: 1279px) and (max-width: 576px) {
  .register .container .row .col-right button {
    width: 100%;
  }
}