@import '../layouts/header';
@import '../layouts/menu';
@import'../layouts/footer';
@import'../layouts/products';

// carousel
.carousel {
    .container {
        @include position(relative, auto, 530px);
        overflow: hidden;

        .bg {
            img {
                @include position(absolute, 1334px, 393px, 107px, auto, auto, -36px);
            }
        }

        .row {
            .col-left {
                img {
                    @include position(absolute, 821px, 392px, 5px, auto, auto, 86px);
                }
            }

            .col-right {
                h1 {
                    @include position(absolute, 291px, 51px, 124px, auto, auto, 930px);
                    @include text($fs-xl-4, $fw-light, $color-dark-0, $lh-xl-4)
                }

                p {
                    @include position(absolute, 291px, 51px, 175px, auto, auto, 930px);
                    @include text($fs-xl-2, $fw-light, $color-dark-0, $lh-xl-2);

                }

                a {
                    @extend .btn-carousel;
                    @include position(absolute, 150px, 50px, 225px, auto, auto, 930px);
                }
            }
        }

        .navigation {
            .navi-left {
                @include position(absolute, auto, auto, 241px, auto, auto, 18px);
                cursor: pointer;
            }

            .navi-right {
                @include position(absolute, auto, auto, 241px, 18px, auto, auto);
                cursor: pointer;
            }
        }

        .pagination {
            .pagi {
                border-radius: 15px;
                border: 1px solid rgba(0, 0, 0, 0.13);
                @include position(absolute, 15px, 15px, 397px, auto, auto, auto);
                cursor: pointer;
            }

            .pagi1 {
                left: 597px;
            }

            .pagi2 {
                left: 635px;
            }

            .pagi3 {
                left: 667px;
            }
        }

    }


}

@include reponsive(xl) {
    .carousel {
        .container {
            @include reponsive(md) {
                height: auto;
                padding-bottom: 70px;
            }
            .bg {
                img {
                    width: 100%;
                    left: 0;
                    top: auto;
                    bottom: 0;
                }
            }

            .row {
                position: relative;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 0 60px;
                height: 100%;

                @include reponsive(md) {
                    padding: 0 50px;
                }

                .col-left {
                    width: 70%;

                    @include reponsive(md) {
                        width: 100%;
                    }


                    img {
                        @include positiondefault();

                        @include reponsive(lg) {
                            width: 100%;
                        }
                    }
                }

                .col-right {
                    width: 30%;

                    @include reponsive(md) {
                        width: 100%;
                        text-align: center
                    }

                    h1 {
                        @include positiondefault();

                        @include reponsive(lg) {
                            font-size: $fs-xl-3;
                            line-height: $lh-xl-3;
                            font-weight: $fw-regular;
                        }
                    }

                    p {
                        @include positiondefault();
                        margin: 5px 0 30px;

                        @include reponsive(md) {
                            margin-bottom: 10px;
                        }
                    }

                    a {
                        @include positiondefault();
                        width: 150px;
                        height: 50px;
                    }
                }
            }

            .pagination {
                @include position(absolute, 100%, auto, 397px, auto, auto, 0);
                display: flex;
                justify-content: center;

                @include reponsive(md) {
                    top: auto;
                    bottom: 20px;
                }

                .pagi {
                    @include positiondefault();
                    width: 15px;
                    height: 15px;
                }

                .pagi2 {
                    margin: 0 20px;
                }
            }

            .navigation {
                @include reponsive(md) {
                    .navi-left{
                        top: 50%;
                        left: 0;
                        transform: scale(0.5);
                    }
                    .navi-right{
                        top: 50%;
                        right: 0;
                        transform: scale(0.5);
                    }
                }
            }
        }
    }
}